.story {
  padding-top: 10rem;
margin:1rem;
  .story-container {
    @include flex-column;
    gap: 4rem;
  }

  .story-title {
    color: $primary-color;
  }

  .story-subtitle {
    font-size: $font-size-lg;
    color: $secondary-color;
    margin-bottom: 1rem;
  }

  .story-text {
    font-size: $font-size-md;
    color: $secondary-color;
  }

  .story-block {
    @include flex-column;
    gap: 2rem;

    .story-image {
      width: 100%;
      max-width: 500px;
      border-radius: $radius-lg;
      object-fit: cover;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;

      &.reverse {
        flex-direction: row-reverse;
      }      
    }
  }

  .story-values {

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: $font-size-md;
        margin: 0.5rem;
        color: $secondary-color;
      }
    }
  }
}
